<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Why?</h4>
                    <p class="intro-text">We believe working with others is more enjoyable, fosters accountability, and adds emotional connection to your work.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How?</h4>
                    <p class="text-muted">Imagine a support group that reinforces positive habits. We curate our community to ensure everyone shares similar goals and projects, pairing you with a buddy whose work aligns with yours.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What?</h4>
                    <p class="text-muted">Weekly calls and forced release schedules!</p>
                </div>
            </div>
        </div>
    </section>